{%extends "components/skeleton_without_nav.html" %}

{%block content %}


<div class="container">
    <div class="row justify-content-center i-am-centered">
        <div class="col-lg-12">
            <h1 class="text-center" style="font-size: 80px;">{{ code }}</h1>
            <h2 class="text-center">{{  text }}</h2>
            <br>
            <a href="/" class="text-center" style="margin: 20px;"><h3>Return to homepage?</h3></a>
        </div>
    </div>
 
</div>
{%endblock%}


