{%extends "components/skeleton_without_nav.html" %}

{%block content %}


<div class="container-fluid" id="login">

    <div class="col-lg-12 login-logo" align="center">
    <img src="/static/plugins/images/logo-text.png" alt="homepage" />
  </div>
<div class="i-am-centered">
                       {%include "components/notification_messages.html" %}
<h2 class="text-center" style="margin-bottom: 20px">Login</h2>
<div v-if="!passMethod && !faceMethod">

  <div class="row justify-content-center">
  <div class="col-lg-4">

    <div class="card options">
      <div class="card-body">
        <a class="card-block stretched-link text-decoration-none" @click="passwordAuth">
          </a>
                <i class="fas fa-key fa-4x "></i>
        <h5 class="card-title">Master Password</h5>
        <p class="card-text" >Login using your master password</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card options">
      <div class="card-body">
             <a class="card-block stretched-link text-decoration-none"  @click="faceAuth">
          </a>
                <i class="fas fa-camera fa-4x"></i>

        <h5 class="card-title">Biometrics</h5>
        <p class="card-text">Login using face recognition</p>
      </div>
    </div>
  </div>
</div>


  </div>
<div v-else-if="passMethod">
    <div class="row justify-content-center">
            <form class="col-lg-12" method="POST">
                                {{form.hidden_tag()}}

            <div class="form-group">
            <label for="exampleInputEmail1">Username</label><br>

                    {{form.username(type="text" ,class_="form-control input_cred",placeholder="Insert your username here", **{'v-model':'username'})}}

            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Master Password </label><br>
            {{form.password(type="password",class_="form-control input_cred",placeholder="Insert your password here", **{'v-model':'password'})}}
            </div>
            <div class="form-group form-check " id="remember_me_check">
                            {{form.rememberMe(type="checkbox",class_="form-check-input")}}

            <label class="form-check-label" for="exampleCheck1" >Remember Me</label>
            </div>


            <button type="submit" class="btn btn-primary btn-lg btn-block" :disabled="canSign">
 Sign in <i class="fas fa-sign-in-alt"></i></button>

            </form>

        </div>

    <div class="float-left" style="margin-top: 10px">
      <button type="button" class="btn btn-secondary" @click="passwordAuth"><i data-toggle="tooltip" data-placement="bottom" title="Sign in using face recognition instead" class="fas fa-chevron-circle-left"></i>
</button>
        </div>


</div>

    <div v-else-if="faceMethod">
    <div class="row justify-content-center">
            <form class="col-lg-12">
            <div class="form-group">
            <img src="https://dummyimage.com/200x200/000/fff.jpg" alt="..." class="img-thumbnail mx-auto d-block">

            </div>

            <div class="form-group form-check " id="remember_me_check">
            <input type="checkbox" class="form-check-input" >
            <label class="form-check-label" for="exampleCheck1" >Remember Me</label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fas fa-sign-in-alt"></i>
 Sign in</button>

            </form>

        </div>

     <div class="float-left" style="margin-top: 10px">
      <button type="button" class="btn btn-secondary" @click="faceAuth"><i data-toggle="tooltip" data-placement="bottom" title="Sign in using face recognition instead" class="fas fa-chevron-circle-left"></i>
</button>
        </div>


</div>
</div>

{%endblock%}

{%block scripts%}
    <script src="../static/js/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#login',
            data: {
                passMethod: false, //should be false
                faceMethod: false,
                username: '',
                password: '',
                lastState: 0

            },
            mounted(){
                getNotifications()
                window.onpopstate = function(event) {
                  if(event.state === 1 || event.state === 2){
                      this.reset()
                      this.lastState = event.state
                  }

                }.bind(this);

            },
            beforeDestroy () {

            },
            methods:{
                passwordAuth: function (event){
                 this.passMethod = ! this.passMethod
                  history.pushState( 1, 'password' )
                },
                faceAuth: function (event){
                 this.faceMethod = ! this.faceMethod
                 history.pushState( 2, 'face' )
                },
                reset: function (){
                      this.faceMethod = false;
                      this.passMethod = false
                }

            },
            computed:{
                 canSign: function (event){
                    return !(this.username.length > 0 && this.password.length > 0)
                }
            },
            delimiters: ['[[', ']]']
        })
    </script>
{%endblock%}
