{%extends "components/skeleton.html" %}

{%block content %}

<div id="app">
    <div class="container-fluid">

        <!-- Modal -->
<div class="modal" tabindex="-1" id="showPasswordModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
          <div class="show-password-area">
        <h3 class="text-center show-password ">[[selected_password]]</h3>
                </div><br>
                <small>Hover/Click on the box above to view your password</small>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-eye-slash"></i>
 Close</button>
        <button type="button" @click="copyPassword" class="btn btn-primary"><i class="fas fa-clipboard"></i>
 Copy to clipboard</button>
          <div v-if="url">
                  <a :href="url" target="_blank">
                      <button type="button" class="btn btn-primary"><i class="fas fa-external-link-alt text-white"></i> Go to site</button>
                  </a>

          </div>
      </div>
    </div>
  </div>
</div>

        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row align-items-center">

            <div class="password-container col-sm-12">
                <div class="notifcation">
                    {%include "components/notification_messages.html" %}
                    <!--                        <div class="notify" id="error" hidden="true">hello</div>-->
                    <!--                        <div class="notify" id="info"></div>-->
                    <!--                        <div class="notify" id="success"></div>-->

                </div>
                {% if passwords%}

                <div class="input-group mb-3 search-icons" id="searchArea">
                    <i class="fa fa-search icon"></i>

                    <input class="input-field" type="text" class="form-control"
                           aria-label="Text input with dropdown button"
                           placeholder="Search vault.." v-on:keyup="searchPasswords" id="search"  :value="searchText" @input="e => searchText = e.target.value">

                </div>
                <div class="card-group" id="search-cards">
                    {%for password in passwords%}
                    <div class="card-data col-lg-4" data-string="{{password.website}} {{password.username}} {{password.icon.name}} {{password.icon.tags | join(' ')}}">
                        <div class="card text-white text-center password-card">
                            <div class="card-header">
                                {%if password.validURL%}
                                <a class="validURL" href="http://{{password.website}}" target="_blank"> <i
                                        class="fas fa-external-link-alt"></i>
                                    {{password.website}}</a>
                                {%else%}
                                <b>{{password.website}}</b>
                                {%endif%}
                            </div>
                            <div class="card-body">
                                {%if password.icon.unicode == "f084"%}
                                <p class="key-icon text-white"
                                   id="{{password.icon.name}}{{password.icon.tags | join(' ')}}">&#x{{ password.icon.unicode | safe}}</p>
                                {%else%}
                                <p class="cat-icon text-white"
                                   id="{{password.icon.name}}{{password.icon.tags | join(' ')}}"
                                   >&#x{{ password.icon.unicode | safe}}</p>
                                {%endif%}
                                <h3 class="card-title text-white">{{password.username}}</h3>
                                <p class="card-text" >

                                    <button class="btn btn-primary  card-buttons" data-toggle="modal" data-target="#exampleModal" id="{{password.id}}" @click="showPassword"><i class="fas fa-eye"></i> Show password</button>
                                </a>
                                </p>


                            </div>
                            <div class="card-footer text-muted">
                                {%if password.modified %}
                                <small class="text-muted">Last updated {{password.modified}}</small>
                                {%else%}
                                <small class="text-muted">Created on {{password.created}}</small>
                                {%endif%}

                                <a href="/passwords/edit/{{password.id}}">
                                    <i class="fas fa-edit float-right edit-button"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                {%else%}

                <div class="row">
        <div class="col-lg-12 text-center i-am-centered">
<h4>Start by adding your first password!</h4>
                            <br>

            <a class="btn btn-primary btn-lg" href="/passwords/add" role="button">
                <i class="fas fa-plus-circle"></i>

                Add your first password </a>
        </div>
                    </div>

                {%endif%}


            </div>
        </div>
    </div>
</div>
{%endblock %}


{%block scripts%}



<script>
    var data = {{passwords|tojson|safe}}
    var app = new Vue({
        el: '#app',
        data: {
            searchText: '',
            selected_website: '',
            selected_password: '',
            url: '',
            passwords: data

        },
        mounted() {
            getNotifications()
        },
        methods: {

            showPassword: function (event) {
                this.selected_website = this.selected_password = this.url = ""
                for(var i of this.passwords){
                    if (i["id"] === event.currentTarget.id){
                        this.selected_password = i["raw"]
                        this.selected_website = i["website"]
                        if (i["validURL"])
                            this.url = "http://" + i["website"]
                        $('#showPasswordModel').modal('show')
                        break
                    }

                }

            },
            copyPassword: function (event) {
                navigator.clipboard.writeText(this.selected_password)
                .then(() => {   toastr.success('Copied to clipboard') })
                .catch((error) => {  toastr.error('An error has occurred while trying to copy your password.') })
              
            },

            searchPasswords: function (event) {
               
                    var filter = this.searchText.trim().toUpperCase();
                    $(".card-data").each(function() {
                        if ($(this).data("string").toUpperCase().indexOf(filter) < 0) {
                        $(this).hide();
                        } else {
                        $(this).show();
                        }
                    })

            }
        },
        delimiters: ['[[', ']]']
    })



</script>

{%endblock%}