{%extends "components/skeleton.html" %}

{%block content %}
<div id="app">
    <div class="container-fluid">


        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row align-items-center">

            <div class="password-container col-sm-12">
                <div class="notifcation">
                       {%include "components/notification_messages.html" %}
<!--                        <div class="notify" id="error" hidden="true">hello</div>-->
<!--                        <div class="notify" id="info"></div>-->
<!--                        <div class="notify" id="success"></div>-->

                </div>
                <div class="input-group mb-3" id="searchArea">

                    <input type="text" class="form-control" aria-label="Text input with dropdown button"
                           placeholder="Search vault.." v-on:keyup="searchPasswords" id="search" v-model="searchText">


<div class="col-lg-2 add-password-button">
                      <a href="/passwords/add">  <button type="button" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Add Password</button></a>

                </div>
                </div>


                <div class="white-box">
                    <div class="table-responsive">
                        <table class="table" id="passwordTable">
                            <thead>
                            <tr>
                                <th class="border-top-0" scope="col"></th>
                                <th class="border-top-0" scope="col">Website</th>
                                <th class="border-top-0" scope="col">Username</th>
                                <th class="border-top-0" scope="col">Password</th>
                                <th class="border-top-0" scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%for password in passwords%}
                            <tr class="password-table-col" id="{{password.id}}">
                                <td class="cat-icon" id="{{password.icon.name}}{{password.icon.tags | join(' ')}}">&#x{{ password.icon.unicode | safe}}</td>
                                {%if password.validURL%}
                                <td><a href="{{password.website}}">{{password.website}}</a></td>
                                {%else%}
                                <td>{{password.website}}</td>
                                {%endif%}
                                <td>{{password.username}}</td>

                                <td id="{{password.raw}}">**********</td>
                                <td class="password-action">
                                    <i class="fas fa-eye" data-toggle="tooltip" data-placement="left"
                                       title="Show/Hide Password" @click="showPassword" id="{{loop.index}}"></i>
                                    <a href="/passwords/edit/{{password.id}}"> <i class="fas fa-edit" data-toggle="tooltip" data-placement="bottom"
                                       title="Edit Password"></i></a>
                                    <i class="fas fa-clipboard" data-toggle="tooltip" data-placement="bottom"
                                       title="Copy password to clipboard" @click="copyPassword" id="{{loop.index}}"></i>

                                </td>
                            </tr>
                            {%endfor%}


                            </tbody>
                        </table>

                    </div>


                </div>
                    <p style="text-align: left" v-if="numberOfResults && searchText">Results: [[numberOfResults]]</p>
            </div>
        </div>
    </div>
</div>
    {%endblock %}


    {%block scripts%}
    <script src="../static/js/vue.js"></script>
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                numberOfResults: 0,
                searchText: '',

            },
            mounted(){
                  console.log("mounted")
                  getNotifications()

            },
            methods:{

                getPasswordRow: function (event){
                    var id = parseInt(event.currentTarget.id)
                    var table = document.getElementsByClassName("table")[0];
                    var row = table.getElementsByTagName("tr")[id];
                    return row
                },
                showPassword: function (event){
                    var row = this.getPasswordRow(event)
                    var pass_col = row.getElementsByTagName("td")[3];
                    var eye_col =  row.getElementsByTagName("td")[4];
                    var style = window.getComputedStyle(pass_col);
                    if (pass_col.innerHTML == "**********"){
                        eye_col.getElementsByClassName("fas fa-eye")[0].style.fontSize = "105%"
                        eye_col.getElementsByClassName("fas fa-eye")[0].className = "fas fa-eye-slash"
                        pass_col.innerHTML = pass_col.id
                    }else {
                        eye_col.getElementsByClassName("fas fa-eye-slash")[0].style.fontSize = "95%"
                        eye_col.getElementsByClassName("fas fa-eye-slash")[0].className = "fas fa-eye"
                        pass_col.innerHTML  = "**********"
                    }

                },
                copyPassword: function (event){
                    var row = this.getPasswordRow(event)
                    var pass = row.getElementsByTagName("td")[3].id
                    var tempInput = document.createElement("input");
                    tempInput.type = "text";
                    tempInput.value = pass
                    document.body.appendChild(tempInput)
                    tempInput.select()
                    document.execCommand("copy")
                    document.body.removeChild(tempInput);
                    toastr.success('Copied to clipboard')
                },
                redirect: function (event){
                    var id = this.getPasswordRow(event)
                    // window.location.href = "/passwords/edit/".concat(id)
                },

                searchPasswords: function (event){
                    var input, filter,table,tr,username,website,row,txtValue,txtValue2,txtValue3, icon_name

                    var searchArea = document.getElementById("searchArea")
                    var loadingDiv = document.createElement("div")
                    loadingDiv.innerHTML = '   <div class="spinner-border m-2 1 spinner-border-sm" role="status">\n' +
                        '                  <span class="sr-only">Loading...</span>\n' +
                        '                </div>'
                    var loading = searchArea.appendChild(loadingDiv)
                    filter = this.searchText.toLowerCase();
                    table = document.getElementById("passwordTable");
                    tr = table.getElementsByTagName("tr")
                    this.numberOfResults = 0
                    for (row =0;row<tr.length; row++ ){
                        username = tr[row].getElementsByTagName("td")[2];
                        website = tr[row].getElementsByTagName("td")[1];
                        icon_name = tr[row].getElementsByTagName("td")[0];
                        if(username || website || icon_name){
                            txtValue = username.textContent || username.innerText;
                            txtValue2 = website.textContent || website.innerText;
                            txtValue3 = icon_name.id
                            if(txtValue.toLowerCase().indexOf(filter)>-1 || txtValue2.toLowerCase().indexOf(filter)>-1 || txtValue3.toLowerCase().indexOf(filter)>-1  ){
                                tr[row].style.display = "";
                                this.numberOfResults++
                            }else{
                                tr[row].style.display = "none";
                            }

                        }
                    }
                    loadingDiv.remove()

                }
            },
            delimiters: ['[[', ']]']
        })

    </script>

    {%endblock%}