{%extends "components/skeleton.html" %}

{%block content %}
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            {%include "components/notification_messages.html" %}
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-12">
                        <div class="white-box">
                            <div class="user-bg">
                                <div class="overlay-box">
                                    <div class="user-content">
                                        {%if user.authentication.face_method%}
                                        <a href="javascript:void(0)"><img src="data:image/jpeg;base64,{{user.authentication.image_data}}"
                                                class="thumb-lg img-circle" alt="img"></a>
                                        {%else%}
                                        <a href="javascript:void(0)"><img src="static/plugins/images/user_icon.png"
                                                                          class="thumb-lg img-circle" alt="img"></a>
                                        {%endif%}
                                        <h4 class="text-white mt-2">{{user.username}}</h4>
                                        <h5 class="text-white mt-2">Created on: {{user.created}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="user-btm-box mt-5 d-md-flex">
                                <div class="col-md-12 col-sm-12 text-center">
                                    <small><i class="fas fa-key fa-fw"></i></small>
                                    <h1>{{user.total_passwords}}</h1>
                                    <small> Passwords Stored</small>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal form-material" method="POST">
                                                    {{form.hidden_tag()}}

                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Username</label>
                                        <div class="col-md-12 border-bottom p-0">
                    {{form.username(class_="form-control p-0 border-0",placeholder="Insert your username here",value=user.username)}}

                                        </div>
                                    </div>
                                    {%if user.authentication.password_method %}
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Master Password</label>
                                        <div class="col-md-12 border-bottom p-0">
                    {{form.password(class_="form-control p-0 border-0",placeholder="Insert your new password here")}}
                                        </div>
                                    </div>
                                    {%endif%}
                                    <div class="form-group mb-4">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success" type="submit">Update Profile</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>

{%endblock%}

{%block scripts%}
<script>

    window.onload = getNotifications;

</script>
{%endblock%}
