<div class="container">
    <div class="jumbotron text-center introduction">
        <img src="../static/plugins/images/logo1.png" class="img-fluid">
        <h2>About PI-VAULT</h2>
        <p class="lead">pi-vault is an open-source project where you can keep your secrets encrypted in one place!</p>
        <hr class="my-4">
        <p>It uses standard asymmetric encryption method to store your sensitive credentials. <br>
            However, since this is an open-source project you can code your own encryption method or even add your own
            special sauce!</p>
        <br>
        {% include "components/intro_buttons.html" %}
        <hr class="my-4">

    </div>
</div>