<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->

<script src="/static/js/popper.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/app-style-switcher.js"></script>
<!--Wave Effects -->
<script src="/static/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/static/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/static/js/custom.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/{{config["VUE"] | safe}}"></script>
