<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/static/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/static/plugins/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/js/app-style-switcher.js"></script>
<!--Wave Effects -->
<script src="/static/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/static/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/static/js/custom.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/{{config["VUE"] | safe}}"></script>
